{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare CRM API",
    "version": "1.0.0",
    "description": "Reference for integrating with the TatvaCare CRM \u2014 the single source of truth for patient leads across every TatvaCare product line.\n\n## What this API does\n\nWrite leads (create / update / upsert). Read leads. Discover the data model. Attach files. That's it. Sales operations happen inside the CRM UI \u2014 this API is for **systems** putting leads INTO the CRM and reading them back.\n\n## The shape\n\n```\n CRM Lead (one row per patient \u2014 deduped by mobile_no)\n   \u251c\u2500\u2500 Plan Profile           \u2014 what plan / PSP / insurance / drug program / subscription\n   \u251c\u2500\u2500 Lab Profile            \u2014 lab values, vitals, conditions, scores\n   \u2514\u2500\u2500 Care & Providers       \u2014 coaches, RM, therapist, doctor, hospital\n```\n\nThe lead carries identity, contact, and routing fields. The three children carry concern-specific data. A patient typically has 1\u20133 child rows populated. Multi-program is normal.\n\n## Where to start\n\n\u2192 **Start here** if you're new: read [Welcome](#tag/welcome), then [Authentication](#tag/authentication), then [Quickstart](#tag/quickstart).\n\u2192 **Already have a key?** Jump to [Write \u203a Upsert by phone](#tag/write).\n\u2192 **Need to know what fields exist?** [Discovery \u203a Introspect a doctype](#tag/discovery).\n\nAll endpoints are tested live in the right pane \u2014 paste your key, hit *Send Request*.",
    "contact": {
      "name": "TatvaCare CRM Ops",
      "email": "pareekshith.bompally@tatvacare.in"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Getting started",
      "tags": [
        "Authentication"
      ]
    },
    {
      "name": "Resources",
      "tags": [
        "Leads",
        "Files"
      ]
    },
    {
      "name": "Reference",
      "tags": [
        "Reference Data",
        "Schema"
      ]
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "## How to authenticate\n\nEvery request needs an `Authorization` header. Format:\n\n```\nAuthorization: token <api_key>:<api_secret>\n```\n\nThe word `token` is **literal lowercase**, followed by a single space, then `api_key`, a colon `:`, then `api_secret`. No `Bearer`, no quotes, no JWT.\n\nA real example:\n\n```\nAuthorization: token 3ae28a4abc8527d:08f94c85b82a1d2\n```\n\n### How to get a key\n\n1. **Email** `pareekshith.bompally@tatvacare.in` with: integration name, who owns it, expected request volume.\n2. **You receive** a dedicated user (e.g. `mytatva-writer@tatvacare.in`) plus its `api_key:api_secret` pair. The user has the **System Manager** role so it can write the permission-locked routing fields (`custom_vertical`, `custom_psp_group`, `custom_current_program`, `custom_origin_vertical`, `custom_previous_program`, `custom_program_lifecycle_stage`). A regular user key would silently drop those fields on write \u2014 don't try.\n3. **Store** the pair as one environment variable: `FRAPPE_API_TOKEN=\"3ae28a4abc8527d:08f94c85b82a1d2\"`. Treat it like a database password.\n\n### One key per integration\n\nDon't share keys across systems. Each integration gets its own user + key so we can revoke / rotate / audit per integration. If you need a key for staging plus a separate one for prod, request both.\n\n### Verify your key works\n\nThe fastest handshake \u2014 returns the authenticated user's email if the key is valid:\n\n```bash\ncurl -H 'Authorization: token <api_key>:<api_secret>' \\\n     https://one.tatvacare.in/api/method/frappe.auth.get_logged_user\n```\n\nSuccess returns `{\"message\":\"mytatva-writer@tatvacare.in\"}`. A `401` means the header is malformed (most often: missing the literal word `token`, extra spaces, swapped key/secret order).\n\n### Rotation, revocation, leakage\n\nIf a key is ever leaked, exposed in logs, committed to git \u2014 email CRM Ops immediately. We'll revoke it (the user gets disabled) and reissue a fresh pair. The new pair has different values; update your env var and redeploy.\n\nRoutine rotation isn't enforced today; we'll add a schedule if/when compliance requires it.\n\n### What the key can NOT do\n\n- It can't bypass field-level validation (Link values must exist, required fields can't be empty).\n- It can't call non-whitelisted methods (anything not documented here or under `frappe.client.*`).\n- It can't see leads outside the CRM site (it's scoped to this site only)."
    },
    {
      "name": "Leads",
      "description": "## How to write leads to the CRM\n\nThree write paths. Pick the right one for the situation:\n\n| Endpoint | When to use | Idempotent? |\n|---|---|---|\n| `POST /api/method/upsert_lead_by_phone` | **DEFAULT.** Create-or-update by `mobile_no`. Single round-trip. | \u2705 Yes |\n| `POST /api/resource/CRM Lead` | You explicitly need create-only semantics (e.g. you've verified the lead doesn't exist and want a hard error if it does). | \u274c No |\n| `PUT /api/resource/CRM Lead/{name}` | Partial update when you already know the CRM `name` (from a prior write). | \u2705 Yes (same input = same state) |\n\n**99% of integrations should use Upsert by phone.** It's safer (idempotent), simpler (one call), and handles the lookup-or-create dance for you.\n\n### Profile child write semantics (important)\n\nProfile children (`custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile`) are sent as **embedded arrays** inside the parent body. There's at most ONE row per profile per lead today.\n\n**A `PUT` with a profile array REPLACES the entire array.** If you send `{\"custom_plan_profile\": [{\"plan_name\": \"X\"}]}` and the existing row had `policy_number: \"NB-001\"`, the `policy_number` is LOST \u2014 your single-field write replaced the whole row.\n\nThree ways to handle this:\n\n1. **Use Upsert** \u2014 it merges fields you send into the existing row, preserving fields you don't send. RECOMMENDED.\n2. **Read-modify-write** when using REST PUT:\n   ```python\n   lead = GET /api/resource/CRM Lead/<name>\n   row  = (lead.custom_plan_profile or [{}])[0]\n   row[\"plan_name\"] = \"X\"   # mutate\n   PUT /api/resource/CRM Lead/<name>  body={\"custom_plan_profile\": [row]}\n   ```\n3. **Always send the full row** \u2014 only viable if your source system holds the complete profile state, which is uncommon.\n\n### Routing fields are permission-locked\n\nThe 6 routing/lifecycle fields on `CRM Lead` (`custom_vertical`, `custom_psp_group`, `custom_current_program`, `custom_previous_program`, `custom_origin_vertical`, `custom_program_lifecycle_stage`) have `permlevel=1`. The System Manager integration key writes them; a non-manager key would silently drop them with NO error. If you ever see leads in the CRM missing routing values, this is the cause.\n\n### Field validation summary\n\n- **Required on every create**: `first_name`, `status`. (Upsert defaults them if missing \u2014 `(no name)` and `New`.)\n- **Required for upsert specifically**: `mobile_no` (it's the dedup key).\n- **Required IF status is Junk or Unqualified**: `lost_reason` (Frappe raises `ValidationError` otherwise).\n- **Link-validated** (values must exist in their master): `status`, `source`, `lost_reason`, `custom_vertical`, `custom_psp_group`, `custom_current_program`, `custom_previous_program`, `custom_origin_vertical`, `lead_owner` (must be a real Frappe user), `substage` on Plan Profile (format `{program}-{substage_name}`).\n- **Never write**: `name` (autonamed), `lead_name` (computed from first+last name), `creation`, `modified`, `lead_owner` unless you've verified the email exists as a user.\n\n---\n\n## How to read leads from the CRM\n\nThree paths: get one by name, list with filters, count with filters.\n\n### Pagination & filtering syntax (applies to all list endpoints)\n\nFrappe's list query parameters are URL-encoded JSON arrays. They look ugly but they're standard.\n\n| Parameter | Type | Example |\n|---|---|---|\n| `filters` | JSON array of `[field, op, value]` | `[[\"status\",\"=\",\"New\"]]` |\n| `fields` | JSON array of fieldnames | `[\"name\",\"mobile_no\",\"status\"]` |\n| `limit_page_length` | integer (max 20 by default, can pass higher) | `100` |\n| `limit_start` | integer offset for paging | `100` (skip first 100) |\n| `order_by` | string SQL-style | `modified desc` |\n\n**Filter operators**: `=`, `!=`, `>`, `>=`, `<`, `<=`, `like`, `in`, `not in`, `between`, `is`, `is not`.\n\nMulti-condition AND: list multiple filters in the same array \u2014 `[[\"status\",\"=\",\"New\"],[\"custom_psp_group\",\"=\",\"Anaya\"]]`.\n\n**curl gotcha**: use `--data-urlencode` to properly encode the brackets:\n\n```bash\ncurl -G -H 'Authorization: token KEY:SECRET' \\\n     --data-urlencode 'filters=[[\"status\",\"=\",\"New\"]]' \\\n     --data-urlencode 'fields=[\"name\",\"mobile_no\"]' \\\n     --data-urlencode 'limit_page_length=50' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead\n```\n\nRaw `[`/`]` in the URL will return 500.\n\n### Reading a lead returns embedded children\n\n`GET /api/resource/CRM Lead/{name}` returns the parent doc with `custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile` arrays inline. Each will be `[]` if no row exists for that profile, otherwise `[{...}]` with all fields populated.\n\n### What about reading the children directly?\n\nYou can't. `/api/resource/CRM Plan Profile` returns HTTP 403 because the profile doctypes are `istable=1` (child tables) \u2014 they have no standalone permission scope. Always read children through the parent lead."
    },
    {
      "name": "Files",
      "description": "## Files attached to leads\n\nFiles (lab reports PDFs, prescriptions, insurance docs, etc.) attach to leads via Frappe's core `File` doctype. The pattern is:\n\n1. **Upload** the binary using `POST /api/method/upload_file` with multipart/form-data. You tell it `doctype=CRM Lead` + `docname=<lead name>` so it attaches to the right lead. **Always set `is_private=1` for patient documents.**\n2. **List** a lead's files by querying `/api/resource/File` filtered by `attached_to_doctype` + `attached_to_name`.\n3. **Download** the file by GETting its `file_url`. Public files (`/files/...`) are open; private files (`/private/files/...`) require an authenticated session with read permission on the parent lead.\n4. **Delete** with `DELETE /api/resource/File/{name}`.\n\n### Privacy rule \u2014 patient docs must be private\n\nPublic files at `/files/...` are world-readable to anyone with the URL. Patient lab reports / prescriptions / claim documents must be uploaded with `is_private=1` so they land at `/private/files/...` and require auth to fetch.\n\nA file uploaded as private:\n- Returns `file_url: /private/files/<hash>.<ext>` in the response.\n- Can only be GETted by a session user who has read permission on the lead it's attached to. Your integration key (with System Manager role) can fetch it. An anonymous tab cannot.\n\n### Download requires the right context\n\nIf you fetch a private `file_url` from an integration script, send the same `Authorization: token KEY:SECRET` header. The 403 you'd otherwise get is intentional \u2014 the file is gated on lead permission."
    },
    {
      "name": "Reference Data",
      "description": "## Link-master tables \u2014 read these to validate your writes\n\nMany lead fields are **Link** fields, meaning the value MUST exist as a row in a lookup master doctype. Sending an unknown value returns HTTP 404 `LinkValidationError`.\n\nRead each master once at startup (or cache) so you know the valid values to send.\n\n| Field on CRM Lead | Lookup master | Example endpoint |\n|---|---|---|\n| `status` | `CRM Lead Status` | `GET /api/resource/CRM%20Lead%20Status` |\n| `source` | `CRM Lead Source` | `GET /api/resource/CRM%20Lead%20Source` |\n| `lost_reason` | `CRM Lost Reason` | `GET /api/resource/CRM%20Lost%20Reason` |\n| `custom_vertical` | `CRM Vertical` | `GET /api/resource/CRM%20Vertical` |\n| `custom_psp_group` | `CRM Group` | `GET /api/resource/CRM%20Group` |\n| `custom_current_program` / `custom_previous_program` | `CRM Program` | `GET /api/resource/CRM%20Program` |\n| `custom_origin_vertical` | `CRM Vertical` | (same as above) |\n| `lead_owner` | `User` (Frappe core) | `GET /api/resource/User?filters=[[\"enabled\",\"=\",1]]&fields=[\"name\",\"full_name\"]` |\n| `substage` (on Plan Profile) | `CRM Lead Substage` | `GET /api/resource/CRM%20Lead%20Substage?filters=[[\"program\",\"=\",\"Niva Bupa\"]]` |\n\nResponses are the standard `{\"data\":[{\"name\":\"...\"},...]}` shape \u2014 the `name` field of each row is the value you'd send back in your write.\n\n### Substages are program-scoped\n\nUnlike the other lookups, `CRM Lead Substage` rows are scoped by a `program` field. **Always filter by `program=<the lead's current program>`** when enumerating valid substages for a specific lead:\n\n```bash\ncurl -G -H 'Authorization: token KEY:SECRET' \\\n     --data-urlencode 'filters=[[\"program\",\"=\",\"Sigrima\"]]' \\\n     --data-urlencode 'fields=[\"name\",\"substage_name\",\"main_stage\"]' \\\n     --data-urlencode 'limit_page_length=200' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead%20Substage\n```\n\nThe `name` of each row (format `{program}-{substage_name}`, e.g. `Sigrima-Patient Ready for Chemo`) is what you write back into `custom_plan_profile[].substage`."
    },
    {
      "name": "Schema",
      "description": "## Runtime schema introspection \u2014 don't hardcode field lists\n\nThe API docs you're reading lists every field on `CRM Lead` and the three profile children. But the source of truth is the LIVE Frappe doctype definition \u2014 and you can fetch it directly. Do this in your integration code so you adapt automatically when new fields are added.\n\n### Read a doctype's full definition\n\nEvery Frappe doctype is itself accessible via REST. Get the full schema (every field, type, options, validations) with:\n\n```bash\ncurl -H 'Authorization: token KEY:SECRET' \\\n     https://one.tatvacare.in/api/resource/DocType/CRM%20Lead\n```\n\nThe response includes a `data.fields[]` array \u2014 each entry is one field with attributes `fieldname`, `fieldtype` (`Data`/`Select`/`Link`/`Date`/`Datetime`/`Int`/`Float`/`Check`/`Currency`/`Small Text`/`Long Text`/`Table`/`Section Break`/`Column Break`/`Tab Break`/etc.), `label`, `reqd` (required), `options` (for Link: the target doctype name; for Select: newline-separated valid values), `permlevel` (0=anyone, 1=manager-only), and more.\n\nSame call works for the children \u2014 replace the name in the URL (URL-encode spaces):\n\n```\nGET /api/resource/DocType/CRM%20Plan%20Profile\nGET /api/resource/DocType/CRM%20Lab%20Profile\nGET /api/resource/DocType/CRM%20Care%20Providers%20Profile\nGET /api/resource/DocType/CRM%20Lead%20Substage\n```\n\n### List records of any doctype\n\nThe `/api/resource/<DocType>` pattern lists records:\n\n```bash\ncurl -H 'Authorization: token KEY:SECRET' \\\n     -G --data-urlencode 'filters=[[\"custom_psp_group\",\"=\",\"Anaya\"]]' \\\n        --data-urlencode 'fields=[\"name\",\"first_name\",\"mobile_no\",\"status\"]' \\\n        --data-urlencode 'limit_page_length=50' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead\n```\n\nSee [Read](#tag/read) for the full filter / pagination syntax.\n\n### When schema changes happen\n\nWhen we add a field, you'll see it appear in the doctype definition. Your code keeps working \u2014 your existing writes succeed (new field is optional and nullable), your reads return the extra field which you can ignore until you're ready to consume it. We notify integrators via email before any **breaking** change (renames, deletes, validation tightening).\n\n### Beyond Lead\n\nThe entire Frappe REST pattern works for ANY doctype. If you discover a need (e.g. read `CRM Call Log` records linked to a lead), the same `/api/resource/<DocType>` pattern applies. The doctypes worth knowing about for an integrator:\n\n- `CRM Lead` (this spec's primary target)\n- `CRM Plan Profile`, `CRM Lab Profile`, `CRM Care Providers Profile` (children of Lead)\n- `CRM Lead Substage` (program-scoped substage master)\n- `CRM Vertical`, `CRM Group`, `CRM Program` (routing masters)\n- `CRM Lead Status`, `CRM Lead Source`, `CRM Lost Reason` (universal lookup masters)\n- `CRM Call Log`, `CRM Task`, `FCRM Note`, `Comment`, `Communication`, `ToDo` (activity-adjacent \u2014 read about them in Frappe's standard docs)\n- `File` (attachments \u2014 see [Attachments](#tag/attachments))\n\nIf you find yourself reaching for a non-Lead doctype, email Ops first \u2014 we want to know what use case you're hitting so we can document it (or wrap it in a saner endpoint)."
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Format: `token <api_key>:<api_secret>` \u2014 literal lowercase `token`, single space, key:secret joined by `:`. See the [Authentication](#tag/authentication) page for how to request a key and a one-liner to verify it works."
      }
    },
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "description": "Universal fields on `CRM Lead` itself. 29 custom fields plus standard Frappe fields. Profile children (`custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile`) are pointers to embedded child arrays \u2014 see [Concepts](#tag/concepts) for the model.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key, autonamed `CRM-LEAD-YYYY-NNNNN`. **Read-only** \u2014 never include in POST bodies (server generates).",
            "readOnly": true,
            "example": "CRM-LEAD-2026-00123"
          },
          "first_name": {
            "type": "string",
            "description": "**Required.** Patient first name. Set to `(no name)` if you genuinely don't have it (the upsert endpoint default-fills this)."
          },
          "last_name": {
            "type": "string",
            "description": "Patient last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Patient email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "**Required for upsert** (dedup key). E.164 format: `+<country code><digits>`, no hyphens, no spaces.",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164 same as mobile_no."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164 same as mobile_no."
          },
          "status": {
            "type": "string",
            "description": "**Required on create.** Universal lifecycle status. New leads start as `New`. Junk and Unqualified are 'Lost' type and require `lost_reason`. Enumerate live values via [Lookups \u2192 Lead Status](#tag/lookups).",
            "enum": [
              "New",
              "Contacted",
              "Nurture",
              "Qualified",
              "Converted",
              "Junk",
              "Unqualified"
            ],
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Link to `CRM Lead Source`. Enumerate via [Lookups \u2192 Lead Source](#tag/lookups)."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "Email of the CRM user owning this lead. Link to `User`. **Only set if the email is a real Frappe user** \u2014 otherwise leave blank to avoid `LinkValidationError`."
          },
          "lost_reason": {
            "type": "string",
            "description": "**Required when `status` is `Junk` or `Unqualified`.** Link to `CRM Lost Reason`.",
            "enum": [
              "Pricing",
              "Competition",
              "Budget Constraints",
              "Missing Features",
              "Long Sales Cycle",
              "No Decision-Maker",
              "Unresponsive Prospect",
              "Poor Fit",
              "Other"
            ]
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "enum": [
              "GoodFlip",
              "GoodFlip Care",
              "Pill Up",
              "TatvaPractice"
            ],
            "description": "**Permission-locked** (`permlevel=1`). Top-level product line. Link to `CRM Vertical`. See [Concepts \u203a routing chain](#tag/concepts)."
          },
          "custom_psp_group": {
            "type": "string",
            "enum": [
              "Anaya",
              "Anyra",
              "Eisai",
              "GoodFlip",
              "Insurers"
            ],
            "description": "**Permission-locked.** Sub-line under the vertical. Link to `CRM Group`."
          },
          "custom_current_program": {
            "type": "string",
            "enum": [
              "Anyra - Retina",
              "Eisai - Alzheimers",
              "GoodFlip",
              "Niva Bupa",
              "Nivolumab",
              "Sigrima",
              "Tukavo",
              "Ujvira"
            ],
            "description": "**Permission-locked.** The PRIMARY program. Link to `CRM Program`. Multi-program patients are supported via profile-row presence (see [Concepts](#tag/concepts))."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "**Permission-locked.** The lead's previous program if they transitioned. Link to `CRM Program`. Captures the LAST switch only \u2014 full history is in the (deferred) activity layer."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "**Permission-locked. Write-once on capture, never updated.** Records the vertical the patient first entered through, even if their current vertical changes later."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated (deprecated for new writes \u2014 use `source` instead)."
          },
          "custom_program_lifecycle_stage": {
            "type": "string",
            "description": "**Permission-locked.** Cross-program lifecycle marker (Acquisition / Active / Retention / etc.) \u2014 used for cohort analytics."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External patient identifier from the source system (e.g. MyTatva user ID, partner system ID)."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy LeadSquared ProspectId \u2014 migration-only dedup key. Not populated for new leads after the LSQ cutover."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy LeadSquared lead number."
          },
          "custom_lsq_lead_stage_legacy": {
            "type": "string",
            "description": "Legacy LeadSquared stage. Read-only for reporting."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "External lead-gen system identifier (campaign or form submission ID)."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Patient gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Patient date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Patient age in years. Not auto-calculated from DOB today \u2014 caller-provided."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Patient age bucket (e.g. `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Patient's preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State / region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to patient (e.g. Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Patient's job title (rarely used)."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "**Embedded child rows** (max 1 today). Plan / PSP / subscription / drug-program / payment / acquisition / dx-funnel data. On PUT, the array REPLACES the existing rows \u2014 see [Write \u203a profile semantics](#tag/write)."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Embedded child rows. Lab values, vitals, conditions, scores."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "Embedded child rows. Care team \u2014 coaches, RM, therapist, doctor, hospital."
          },
          "lead_name": {
            "type": "string",
            "description": "**Read-only.** Auto-computed from `first_name` + `last_name`. Never write directly.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Lead creation timestamp.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Last-modified timestamp. Useful for change-tracking / delta sync.",
            "readOnly": true
          }
        },
        "required": [
          "first_name",
          "status"
        ]
      },
      "PlanProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 79 fields. Holds everything plan-shaped: subscription / PSP enrollment, drug-program clinical (oncology), Rx workflow, payment + insurer fields, acquisition (UTM + signup), diagnostic-funnel timestamps, and the program-scoped substage Link. See [Concepts](#tag/concepts) for why this is sliced by concern, not by program.",
        "properties": {
          "signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date the patient signed up (any platform)."
          },
          "mobile_app_signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date specifically of mobile app sign-up."
          },
          "signed_up_on_app": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean flag (0/1). Whether the patient signed up via mobile app."
          },
          "platform": {
            "type": "string",
            "description": "Mobile app platform \u2014 Android / iOS / Web."
          },
          "user_source": {
            "type": "string",
            "description": "Free-text source identifier (granular than `CRM Lead Source`)."
          },
          "utm_source": {
            "type": "string",
            "description": "UTM source (marketing attribution)."
          },
          "utm_medium": {
            "type": "string",
            "description": "UTM medium."
          },
          "utm_campaign": {
            "type": "string",
            "description": "UTM campaign."
          },
          "utm_term": {
            "type": "string",
            "description": "UTM term."
          },
          "utm_content": {
            "type": "string",
            "description": "UTM content."
          },
          "utm_disease": {
            "type": "string",
            "description": "UTM disease tag \u2014 used in disease-targeted campaigns."
          },
          "utm_therapy_area": {
            "type": "string",
            "description": "UTM therapy-area tag."
          },
          "source_campaign": {
            "type": "string",
            "description": "Source campaign (alternate naming used by some campaigns)."
          },
          "source_medium": {
            "type": "string",
            "description": "Source medium."
          },
          "source_content": {
            "type": "string",
            "description": "Source content."
          },
          "plan_name": {
            "type": "string",
            "description": "Name of the plan / PSP / subscription the patient is enrolled in."
          },
          "plan_duration": {
            "type": "string",
            "description": "Plan duration (e.g. `3 months`, `12 months`)."
          },
          "plan_includes_cgm": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes a Continuous Glucose Monitor."
          },
          "cgm_brand": {
            "type": "string",
            "description": "CGM device brand (e.g. Abbott, Dexcom)."
          },
          "sensor_count": {
            "type": "integer",
            "description": "Number of CGM sensors included."
          },
          "transmitter_count": {
            "type": "integer",
            "description": "Number of CGM transmitters included."
          },
          "bca_device": {
            "type": "string",
            "description": "Body Composition Analyzer device, if part of the plan."
          },
          "recurrence": {
            "type": "string",
            "description": "Plan recurrence pattern (monthly / quarterly / annual)."
          },
          "program_duration": {
            "type": "string",
            "description": "Program / treatment duration."
          },
          "program_start_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment starts."
          },
          "program_end_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment ends."
          },
          "program_price": {
            "type": "number",
            "description": "Program price in INR."
          },
          "dx_landing_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient landed on the lab-test booking page. Stamp current time when the LSQ flag fires."
          },
          "dx_intent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient indicated intent to book."
          },
          "dx_details_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted personal details."
          },
          "dx_address_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted address."
          },
          "dx_slot_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient selected a slot."
          },
          "dx_confirmed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: booking confirmed."
          },
          "labtest_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Lab test booking completed (terminal funnel step)."
          },
          "invoice_uploaded": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the patient has uploaded an invoice."
          },
          "invoice_amount": {
            "type": "number",
            "description": "Invoice amount in INR."
          },
          "payment_link": {
            "type": "string",
            "format": "uri",
            "description": "URL the patient can use to complete payment."
          },
          "paying_status": {
            "type": "string",
            "description": "Free-text payment status (e.g. Paid, Pending, Defaulted)."
          },
          "coins_balance": {
            "type": "integer",
            "description": "Patient's loyalty/wallet coin balance."
          },
          "policy_number": {
            "type": "string",
            "description": "Insurer policy number (e.g. Niva Bupa policy)."
          },
          "member_id": {
            "type": "string",
            "description": "Insurer member identifier within the policy."
          },
          "priority_text": {
            "type": "string",
            "description": "Admin-only priority note."
          },
          "patient_indication": {
            "type": "string",
            "description": "Clinical indication (e.g. `HER2+ MBC`)."
          },
          "cancer_stage": {
            "type": "string",
            "description": "Cancer stage (e.g. `Stage IV`)."
          },
          "brain_mets_category": {
            "type": "string",
            "description": "Brain metastases category."
          },
          "tucavo_brain_mets": {
            "type": "string",
            "description": "Tukavo brain-mets indicator."
          },
          "side_effects": {
            "type": "string",
            "description": "Side effects experienced."
          },
          "side_effects_detail": {
            "type": "string",
            "description": "Free-text side-effects detail."
          },
          "pcr_received": {
            "type": "string",
            "description": "PCR (Pathology) report received status."
          },
          "reason_for_no_indication": {
            "type": "string",
            "description": "Reason if `patient_indication` couldn't be set."
          },
          "physio_or_dietician": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes physio / dietician."
          },
          "tucatinib_chemo_cycle": {
            "type": "integer",
            "description": "Tucatinib chemo cycle number."
          },
          "tucatinib_indication": {
            "type": "string",
            "description": "Tucatinib clinical indication."
          },
          "tucatinib_psp": {
            "type": "string",
            "description": "Tucatinib Patient Support Program identifier."
          },
          "tucatinib_dosage": {
            "type": "string",
            "description": "Tucatinib dosage."
          },
          "tukavo_psp": {
            "type": "string",
            "description": "Tukavo Patient Support Program identifier."
          },
          "sigrima_pap_category": {
            "type": "string",
            "description": "Sigrima Patient Assistance Program category."
          },
          "sigrima_psp_category": {
            "type": "string",
            "description": "Sigrima PSP category."
          },
          "sigrima_psp_enabled": {
            "type": "string",
            "description": "Sigrima PSP enabled flag."
          },
          "ujvira_chemo_cycle_number": {
            "type": "integer",
            "description": "Ujvira chemo cycle number."
          },
          "ujvira_indication": {
            "type": "string",
            "description": "Ujvira clinical indication."
          },
          "ujvira_pap_category": {
            "type": "string",
            "description": "Ujvira PAP category."
          },
          "ujvira_dosage": {
            "type": "string",
            "description": "Ujvira dosage."
          },
          "nivo_chemo_cycle": {
            "type": "integer",
            "description": "Nivolumab chemo cycle number."
          },
          "nivo_indication": {
            "type": "string",
            "description": "Nivolumab clinical indication."
          },
          "nivo_pap_category": {
            "type": "string",
            "description": "Nivolumab PAP category."
          },
          "nivo_dosage": {
            "type": "string",
            "description": "Nivolumab dosage."
          },
          "capecitabine_dosage": {
            "type": "string",
            "description": "Capecitabine dosage."
          },
          "vivitra_enabled": {
            "type": "string",
            "description": "Vivitra (Trastuzumab biosimilar) enabled flag."
          },
          "vivitra_free_required": {
            "type": "string",
            "description": "Whether free Vivitra is required."
          },
          "vivitra_order_cycle_number": {
            "type": "integer",
            "description": "Vivitra order cycle."
          },
          "vivitra_order_id": {
            "type": "string",
            "description": "Vivitra order identifier."
          },
          "transition_from_sigrima": {
            "type": "string",
            "description": "Transition marker if patient came from Sigrima."
          },
          "transition_from_ujvira": {
            "type": "string",
            "description": "Transition marker if patient came from Ujvira."
          },
          "transition_old_to_new_pap": {
            "type": "string",
            "description": "Transition from old PAP to new PAP."
          },
          "rx_status": {
            "type": "string",
            "description": "Prescription review status (e.g. Pending / Approved / Rejected)."
          },
          "rx_reviewed_by": {
            "type": "string",
            "format": "email",
            "description": "Email of the user who reviewed the prescription. Link to `User`."
          },
          "rx_rejection_reason": {
            "type": "string",
            "description": "Reason the prescription was rejected (if applicable)."
          },
          "substage": {
            "type": "string",
            "description": "**Program-scoped operational stage.** Link to `CRM Lead Substage`. Value format is `{program}-{substage_name}` (e.g. `Niva Bupa-Payment Link Sent`, `Sigrima-Patient Ready for Chemo`). Enumerate valid values for a program via [Lookups \u203a Lead Substage](#tag/lookups). The universal `status` field on `CRM Lead` is independent of substage \u2014 see [Concepts \u203a substages](#tag/concepts).",
            "example": "Niva Bupa-Payment Link Sent"
          }
        }
      },
      "LabProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 22 fields. Lab values, vitals (height/weight/BMI), conditions (primary + co-morbid), and metabolic score / assessment data.",
        "properties": {
          "hba1c": {
            "type": "number",
            "description": "HbA1c \u2014 3-month average blood sugar (%)."
          },
          "fbs": {
            "type": "number",
            "description": "Fasting Blood Sugar (mg/dL)."
          },
          "ldl": {
            "type": "number",
            "description": "LDL Cholesterol (mg/dL)."
          },
          "hdl": {
            "type": "number",
            "description": "HDL Cholesterol (mg/dL)."
          },
          "vldl": {
            "type": "number",
            "description": "VLDL Cholesterol (mg/dL)."
          },
          "total_cholesterol": {
            "type": "number",
            "description": "Total Cholesterol (mg/dL)."
          },
          "triglycerides": {
            "type": "number",
            "description": "Triglycerides (mg/dL)."
          },
          "tsh": {
            "type": "number",
            "description": "TSH \u2014 Thyroid Stimulating Hormone."
          },
          "creatinine": {
            "type": "number",
            "description": "Creatinine (mg/dL) \u2014 kidney function marker."
          },
          "egfr": {
            "type": "number",
            "description": "eGFR \u2014 Estimated Glomerular Filtration Rate (kidney)."
          },
          "alt_sgpt": {
            "type": "number",
            "description": "ALT / SGPT \u2014 liver enzyme."
          },
          "ggt": {
            "type": "number",
            "description": "GGT \u2014 liver enzyme."
          },
          "height_feet": {
            "type": "number",
            "description": "Patient height in feet."
          },
          "weight_kg": {
            "type": "number",
            "description": "Patient weight in kg."
          },
          "bmi": {
            "type": "number",
            "description": "Body Mass Index. Caller-computed today (no auto-calc hook yet). Formula: `weight_kg / (height_meters^2)`."
          },
          "primary_condition": {
            "type": "string",
            "description": "Patient's primary medical condition. Free text today; will become a Link master when the option list is locked."
          },
          "comorbid_conditions": {
            "type": "string",
            "description": "Comma-separated co-morbid conditions. Will move to a child Table doctype when multi-select pattern is needed."
          },
          "initial_metabolic_score": {
            "type": "number",
            "description": "Initial metabolic score from assessment."
          },
          "final_metabolic_score": {
            "type": "number",
            "description": "Final / latest metabolic score."
          },
          "metabolic_questionnaire_link": {
            "type": "string",
            "format": "uri",
            "description": "URL to the metabolic questionnaire PDF / form."
          },
          "assessment_responses": {
            "type": "string",
            "description": "Raw assessment payload \u2014 typically a JSON-as-string blob with all questionnaire responses."
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "description": "Date the lab report was generated (`YYYY-MM-DD`)."
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 15 fields. The patient's care team (internal coaches + RM + therapist) and medical providers (treating doctor + hospital). UI label: 'Care & Providers'. The internal doctype name has no `&` (Frappe restriction).",
        "properties": {
          "success_coach_name": {
            "type": "string",
            "description": "Success Coach name \u2014 primary internal contact for the patient."
          },
          "rm_name": {
            "type": "string",
            "description": "Relationship Manager name \u2014 handles calls and follow-ups."
          },
          "therapist_name": {
            "type": "string",
            "description": "Therapist / counsellor name."
          },
          "diet_coach_name": {
            "type": "string",
            "description": "Diet coach name."
          },
          "exercise_coach_name": {
            "type": "string",
            "description": "Exercise coach name."
          },
          "abm_name": {
            "type": "string",
            "description": "Area Business Manager \u2014 operational lead handler for PSP-style engagements."
          },
          "doctor_name": {
            "type": "string",
            "description": "Treating doctor's short name."
          },
          "doctor_full_name": {
            "type": "string",
            "description": "Treating doctor's full name."
          },
          "hospital_name": {
            "type": "string",
            "description": "Hospital short name."
          },
          "hospital_full_name": {
            "type": "string",
            "description": "Hospital full name."
          },
          "hospital_city": {
            "type": "string",
            "description": "Hospital city short code."
          },
          "hospital_city_name": {
            "type": "string",
            "description": "Hospital city full name."
          },
          "hospital_state": {
            "type": "string",
            "description": "Hospital state."
          },
          "hospital_type": {
            "type": "string",
            "description": "Hospital type (e.g. Private, Government, Trust)."
          },
          "coach_appointment_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the patient's first coach appointment was booked."
          }
        }
      },
      "LookupItem": {
        "type": "object",
        "description": "Generic single-column lookup-master row. The `name` field holds the value you'd send back into a Link field on `CRM Lead`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Primary key \u2014 also the human-readable value (e.g. `Sigrima`, `Anaya`, `Mobile App`).",
            "example": "Sigrima"
          }
        }
      },
      "LeadSubstage": {
        "type": "object",
        "description": "Row in `CRM Lead Substage` master. One row per (program, substage_name) pair. New programs add rows here \u2014 never new columns on Plan Profile.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Auto-formatted `{program}-{substage_name}`. This is the value you send back into `custom_plan_profile[].substage`.",
            "example": "Niva Bupa-Payment Link Sent"
          },
          "substage_name": {
            "type": "string",
            "example": "Payment Link Sent",
            "description": "Human-readable substage name within a program."
          },
          "program": {
            "type": "string",
            "description": "Link to `CRM Program`. Which program this substage belongs to.",
            "example": "Niva Bupa"
          },
          "main_stage": {
            "type": "string",
            "enum": [
              "New",
              "Opportunity",
              "Active",
              "On Hold",
              "Drop-off",
              "Completed",
              "Lost",
              "Archived",
              "Converted"
            ],
            "description": "Coarse grouping for reporting."
          }
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "description": "Request body for `POST /api/method/upsert_lead_by_phone`. Only `mobile_no` is strictly required; `first_name` and `status` are default-filled if missing (`(no name)` and `New`). All other `CRMLeadUniversal` fields are optional. Profile children embed as arrays.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ]
      },
      "UpsertLeadResponse": {
        "type": "object",
        "description": "Always HTTP 200 today (silent-200 quirk pending patch \u2014 see [Errors](#tag/errors)). Check `message.ok` (boolean) for success.",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean",
                "description": "True on success, false on validation/processing failure."
              },
              "action": {
                "type": "string",
                "enum": [
                  "created",
                  "updated"
                ],
                "description": "Present only when `ok=true`."
              },
              "name": {
                "type": "string",
                "description": "CRM Lead primary key (e.g. `CRM-LEAD-2026-00123`). Present only when `ok=true`."
              },
              "mobile_no": {
                "type": "string",
                "description": "Echoed back from the request."
              },
              "error": {
                "type": "string",
                "description": "Present only when `ok=false`. Human-readable error message."
              }
            },
            "required": [
              "ok"
            ]
          }
        }
      },
      "FrappeListResponse": {
        "type": "object",
        "description": "Standard Frappe list response shape. `data` is an array of objects with the fields requested via the `fields` query parameter.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FrappeDocResponse": {
        "type": "object",
        "description": "Standard Frappe single-document response. `data` is the full doc with all fields (including embedded child arrays for Tables).",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "FileDoc": {
        "type": "object",
        "description": "Row in Frappe's core `File` doctype. Returned by upload, list, and get operations.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key for the file row (hash-based, e.g. `c14b27639e`)."
          },
          "file_name": {
            "type": "string",
            "description": "Display filename."
          },
          "file_url": {
            "type": "string",
            "description": "Path to download. `/files/<x>` for public, `/private/files/<x>` for private."
          },
          "is_private": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "0 = public (open to anyone with URL), 1 = private (auth required)."
          },
          "attached_to_doctype": {
            "type": "string",
            "example": "CRM Lead",
            "description": "Parent doctype this file is attached to."
          },
          "attached_to_name": {
            "type": "string",
            "example": "CRM-LEAD-2026-00123",
            "description": "Parent record name."
          },
          "file_size": {
            "type": "integer",
            "description": "Size in bytes."
          },
          "file_type": {
            "type": "string",
            "description": "Extension / type (e.g. PDF, PNG)."
          },
          "content_hash": {
            "type": "string",
            "description": "MD5 of the content \u2014 use to dedup re-uploads."
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Frappe error envelope. Returned for HTTP 4xx/5xx. **NOT used for upsert silent-200 failures** \u2014 those use `message.ok=false` in the upsert response shape.",
        "properties": {
          "exc_type": {
            "type": "string",
            "example": "LinkValidationError",
            "description": "Exception class name. Use to programmatically discriminate error types."
          },
          "exception": {
            "type": "string",
            "example": "Could not find Custom Field: CRM Lead-foo",
            "description": "Human-readable exception message."
          },
          "_server_messages": {
            "type": "string",
            "description": "JSON-encoded array of additional human-readable messages."
          }
        }
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "Minimum viable \u2014 just enough to create a lead",
        "description": "Only the dedup key (`mobile_no`) plus mandatory `first_name`/`status` (or let them default-fill). No routing, no profiles. Useful for an absolute-minimum smoke test.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Test Lead",
          "status": "New"
        }
      },
      "UpsertWithRouting": {
        "summary": "Minimum + routing \u2014 locked to a program",
        "description": "Adds the 4 routing fields. Lead is now tagged to a specific vertical / group / program, which drives sales-rep assignment and reporting.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Asha",
          "last_name": "K",
          "status": "New",
          "source": "Mobile App",
          "custom_vertical": "GoodFlip Care",
          "custom_psp_group": "Anaya",
          "custom_current_program": "Sigrima",
          "custom_origin_vertical": "GoodFlip Care"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "Add one profile child \u2014 lab values for an insurer lead",
        "description": "Now we attach a Lab Profile row. Typical of an insurer pushing a lab-screened lead.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Ramesh",
          "status": "New",
          "source": "Niva Bupa",
          "custom_vertical": "GoodFlip",
          "custom_psp_group": "Insurers",
          "custom_current_program": "Niva Bupa",
          "custom_origin_vertical": "GoodFlip",
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "InsurerLabIntakeLead": {
        "summary": "Full \u2014 insurer-screening lead (labs + policy + alt phone)",
        "description": "Realistic shape for an inbound insurer feed. Plan Profile for policy/payment, Lab Profile for the full panel.",
        "value": {
          "mobile_no": "+919999000123",
          "first_name": "Ramesh",
          "last_name": "Kumar",
          "custom_dob": "1965-03-15",
          "custom_gender": "Male",
          "custom_city": "Bangalore",
          "custom_alternate_number": "+919811112222",
          "status": "New",
          "source": "Niva Bupa",
          "custom_vertical": "GoodFlip",
          "custom_psp_group": "Insurers",
          "custom_current_program": "Niva Bupa",
          "custom_origin_vertical": "GoodFlip",
          "custom_plan_profile": [
            {
              "policy_number": "NB-XXXXXX",
              "member_id": "M-XXXXXX",
              "payment_link": "https://niva.example/pay/abc"
            }
          ],
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "ldl": 142,
              "hdl": 38,
              "tsh": 3.4,
              "creatinine": 1.1,
              "egfr": 78,
              "bmi": 26.5,
              "primary_condition": "Type 2 Diabetes",
              "comorbid_conditions": "Hypertension, Hyperlipidemia",
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "OncologyPSPLead": {
        "summary": "Full \u2014 oncology PSP lead (drug program + care team)",
        "description": "Realistic shape for an Anaya Sigrima clinical lead. Plan Profile has drug-specific fields + the program substage; Care & Providers has the assigned coach + doctor + hospital.",
        "value": {
          "mobile_no": "+919800000001",
          "first_name": "Sunita Rao",
          "custom_dob": "1980-01-01",
          "custom_gender": "Female",
          "custom_caregiver_name": "Arjun Rao",
          "custom_caregiver_phone": "+919800000011",
          "custom_caregiver_relation": "Spouse",
          "status": "New",
          "source": "Landing Page MR Form",
          "custom_vertical": "GoodFlip Care",
          "custom_psp_group": "Anaya",
          "custom_current_program": "Sigrima",
          "custom_origin_vertical": "GoodFlip Care",
          "custom_plan_profile": [
            {
              "patient_indication": "HER2+ MBC",
              "cancer_stage": "Stage IV",
              "sigrima_psp_category": "PSP A",
              "vivitra_enabled": "Yes",
              "substage": "Sigrima-Patient Ready for Chemo"
            }
          ],
          "custom_care_providers_profile": [
            {
              "abm_name": "Vikram Iyer",
              "success_coach_name": "Neha Gupta",
              "doctor_name": "Dr. A. Sharma",
              "hospital_name": "City Oncology Centre",
              "hospital_city": "Pune"
            }
          ]
        }
      },
      "WellnessSubscriptionLead": {
        "summary": "Full \u2014 wellness subscription lead (plan + score + care team)",
        "description": "Realistic shape for a MyTatva-style subscription sign-up. Plan Profile carries subscription + UTM; Lab Profile carries metabolic score; Care & Providers carries the assigned coach stack.",
        "value": {
          "mobile_no": "+919800000002",
          "first_name": "Kabir Shah",
          "status": "New",
          "source": "Mobile App",
          "custom_vertical": "GoodFlip",
          "custom_origin_vertical": "GoodFlip",
          "custom_plan_profile": [
            {
              "signup_date": "2026-04-15",
              "platform": "Android",
              "utm_source": "instagram",
              "plan_name": "Wellness Plus",
              "program_start_date": "2026-04-15",
              "program_end_date": "2026-07-15",
              "program_price": 4999,
              "plan_includes_cgm": 1,
              "cgm_brand": "Abbott"
            }
          ],
          "custom_lab_profile": [
            {
              "initial_metabolic_score": 58,
              "final_metabolic_score": 72,
              "metabolic_questionnaire_link": "https://..."
            }
          ],
          "custom_care_providers_profile": [
            {
              "success_coach_name": "Neha Gupta",
              "rm_name": "Sanjay Menon",
              "diet_coach_name": "Divya Rao"
            }
          ]
        }
      },
      "UpsertSuccessCreated": {
        "summary": "Upsert response \u2014 created",
        "value": {
          "message": {
            "ok": true,
            "action": "created",
            "name": "CRM-LEAD-2026-00123",
            "mobile_no": "+919999000123"
          }
        }
      },
      "UpsertSuccessUpdated": {
        "summary": "Upsert response \u2014 updated (existing lead found by mobile_no)",
        "value": {
          "message": {
            "ok": true,
            "action": "updated",
            "name": "CRM-LEAD-2026-00056",
            "mobile_no": "+919999000123"
          }
        }
      },
      "UpsertFailure": {
        "summary": "Upsert response \u2014 failure (HTTP still 200; check ok)",
        "value": {
          "message": {
            "ok": false,
            "error": "Please specify a reason for losing the lead."
          }
        }
      },
      "ErrorLinkValidation": {
        "summary": "404 \u2014 invalid Link value",
        "value": {
          "exc_type": "LinkValidationError",
          "exception": "Could not find CRM Program: SigrimaXXX"
        }
      },
      "LookupVerticalResponse": {
        "summary": "Vertical lookup \u2014 example response",
        "value": {
          "data": [
            {
              "name": "GoodFlip"
            },
            {
              "name": "GoodFlip Care"
            },
            {
              "name": "Pill Up"
            },
            {
              "name": "TatvaPractice"
            }
          ]
        }
      },
      "LookupSubstageResponse": {
        "summary": "Lead Substage lookup \u2014 filtered by program",
        "value": {
          "data": [
            {
              "name": "Sigrima-New Patient",
              "substage_name": "New Patient",
              "main_stage": "New"
            },
            {
              "name": "Sigrima-Patient Ready for Chemo",
              "substage_name": "Patient Ready for Chemo",
              "main_stage": "Active"
            },
            {
              "name": "Sigrima-Coordination via ABM",
              "substage_name": "Coordination via ABM",
              "main_stage": "Active"
            }
          ]
        }
      },
      "AuthCheckResponse": {
        "summary": "Auth verification \u2014 successful key",
        "value": {
          "message": "mytatva-writer@tatvacare.in"
        }
      },
      "FileUploadResponse": {
        "summary": "File upload \u2014 successful (private)",
        "value": {
          "message": {
            "name": "c14b27639e",
            "file_name": "lab-report-may.pdf",
            "file_url": "/private/files/c14b27639e-lab-report-may.pdf",
            "is_private": 1,
            "attached_to_doctype": "CRM Lead",
            "attached_to_name": "CRM-LEAD-2026-00123",
            "file_size": 184231
          }
        }
      }
    }
  },
  "paths": {
    "/api/method/frappe.auth.get_logged_user": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify API key (handshake)",
        "description": "Returns the email of the user the API key belongs to. The single fastest way to verify your `Authorization` header is correct.\n\n**Use this** as your first call when integrating, and as a health-check in your CI/CD pipeline. Anything other than HTTP 200 with the user's email means your auth is broken before any business call.",
        "responses": {
          "200": {
            "description": "Authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "$ref": "#/components/examples/AuthCheckResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bad/missing API key. Body returns HTML (Frappe website login redirect) \u2014 that's the signal."
          }
        }
      }
    },
    "/api/method/upsert_lead_by_phone": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Upsert a lead by phone (recommended)",
        "description": "**The recommended write endpoint for ~99% of integrations.** Idempotent on `mobile_no`. Safe to retry. Finds an existing lead by `mobile_no` and updates it, or creates a new one. Profile children are passed as embedded arrays \u2014 same shape as standard REST.\n\n### How it merges\n\nFor an existing lead, fields you SEND are updated; fields you OMIT are LEFT ALONE. For profile children, fields you send ARE MERGED into the existing row (not replaced wholesale). This is the safest write pattern \u2014 use it unless you specifically need raw REST semantics.\n\n### Default-fill behaviour\n\n- Missing `first_name` \u2192 set to `(no name)`\n- Missing `status` \u2192 set to `New`\n- Profile arrays accept either actual JSON arrays or stringified JSON (the script parses both).\n\n### Always check `message.ok` (not HTTP status)\n\nHTTP 200 is returned even on failure today (silent-200 quirk pending patch). Inspect the boolean `message.ok` field. A patch will set HTTP 422 on the failure path; the boolean check works in both cases \u2014 safe to write your client code against `message.ok` today.\n\n### Common pitfalls\n\n- Sending an unknown Link value (e.g. mistyped program name) \u2192 `message.ok: false` with `LinkValidationError` in the error string. Fix: read [Lookups](#tag/lookups) first.\n- Setting `status` to `Junk` or `Unqualified` without `lost_reason` \u2192 `ValidationError: Please specify a reason for losing the lead.` Add `lost_reason` from the [Lookups](#tag/lookups) values.\n- Sending a `lead_owner` email that isn't a real Frappe user \u2192 `LinkValidationError`. Leave blank if unsure.\n\n### Related\n\n[Read \u203a Get one lead](#tag/read) to fetch the lead back after writing. [Lookups](#tag/lookups) to enumerate valid Link values before writing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLeadRequest"
              },
              "examples": {
                "1. Minimum viable": {
                  "$ref": "#/components/examples/MinimalUpsert"
                },
                "2. With routing": {
                  "$ref": "#/components/examples/UpsertWithRouting"
                },
                "3. With one profile": {
                  "$ref": "#/components/examples/UpsertWithOneProfile"
                },
                "4. Full \u2014 insurer + labs": {
                  "$ref": "#/components/examples/InsurerLabIntakeLead"
                },
                "5. Full \u2014 oncology PSP": {
                  "$ref": "#/components/examples/OncologyPSPLead"
                },
                "6. Full \u2014 wellness subscription": {
                  "$ref": "#/components/examples/WellnessSubscriptionLead"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always 200 today (silent-200 quirk). Inspect `message.ok`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertLeadResponse"
                },
                "examples": {
                  "Created": {
                    "$ref": "#/components/examples/UpsertSuccessCreated"
                  },
                  "Updated": {
                    "$ref": "#/components/examples/UpsertSuccessUpdated"
                  },
                  "Failure": {
                    "$ref": "#/components/examples/UpsertFailure"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bad/missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/CRM Lead": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "List leads (filtered, paginated)",
        "description": "Standard Frappe list endpoint. Returns the requested `fields` for leads matching `filters`, paginated.\n\nFilter operator vocabulary, pagination, and `--data-urlencode` curl pattern are explained in [Read](#tag/read).",
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"custom_current_program\",\"=\",\"Niva Bupa\"]]",
            "description": "JSON-encoded array of `[field, operator, value]` filters. AND'd together."
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[\"name\",\"first_name\",\"mobile_no\",\"custom_current_program\"]",
            "description": "JSON-encoded array of fieldnames to return. Defaults to `name` only \u2014 usually you want more."
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Page size. Max recommended ~500."
          },
          {
            "name": "limit_start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip offset for pagination."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "modified desc",
            "description": "SQL-style ORDER BY. Useful: `modified desc` for delta-sync."
          }
        ],
        "responses": {
          "200": {
            "description": "List of leads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead (raw \u2014 no upsert semantics)",
        "description": "Standard Frappe create. **Use Upsert by phone instead** unless you specifically need create-only semantics (e.g. you've verified the lead doesn't exist and want a hard error if it does).\n\nUnlike Upsert: not idempotent, will not merge with existing lead by phone, returns the standard Frappe error envelope on failure (not the `message.ok` pattern).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CRMLeadUniversal"
              },
              "examples": {
                "Oncology PSP": {
                  "$ref": "#/components/examples/OncologyPSPLead"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeDocResponse"
                }
              }
            }
          },
          "404": {
            "description": "LinkValidationError \u2014 a Link value isn't in its master.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "LinkValidation": {
                    "$ref": "#/components/examples/ErrorLinkValidation"
                  }
                }
              }
            }
          },
          "417": {
            "description": "MandatoryError \u2014 `first_name` or `status` missing."
          }
        }
      }
    },
    "/api/resource/CRM Lead/{name}": {
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "CRM-LEAD-2026-00123",
          "description": "CRM Lead primary key. Obtained from a prior write response (`message.name` from upsert) or a list query."
        }
      ],
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Read one lead (with embedded profile rows)",
        "description": "Returns the full lead doc, INCLUDING all child Table fields (`custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile`) inline as arrays. Each array is `[]` if no row exists, otherwise `[{...}]` with all fields.",
        "responses": {
          "200": {
            "description": "Lead with embedded children.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeDocResponse"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found."
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update a lead (partial \u2014 raw REST)",
        "description": "Send only changed fields.\n\n### Profile child semantics\n\nA PUT with `custom_plan_profile: [{...}]` **REPLACES** the entire array. To update a single field on the existing row without losing the rest, use **read-modify-write**:\n\n```python\nlead = GET /api/resource/CRM Lead/{name}\nrow  = (lead.custom_plan_profile or [{}])[0]\nrow['dx_landing_at'] = '2026-06-02 10:15:00'\nPUT /api/resource/CRM Lead/{name}  body={'custom_plan_profile': [row]}\n```\n\n**Or just use [Upsert by phone](#tag/write)** \u2014 it merges your fields into the existing row automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CRMLeadUniversal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeDocResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Delete a lead (admin only \u2014 prefer status flip)",
        "description": "Hard delete. Use sparingly. **For lifecycle-end leads, prefer setting `status` to `Junk` or `Unqualified` instead** \u2014 preserves history for reporting.",
        "responses": {
          "200": {
            "description": "Deleted."
          }
        }
      }
    },
    "/api/resource/DocType/{doctype_name}": {
      "parameters": [
        {
          "name": "doctype_name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "CRM Lead",
          "description": "Doctype name. URL-encode spaces: `CRM Lead` \u2192 `CRM%20Lead`."
        }
      ],
      "get": {
        "tags": [
          "Schema"
        ],
        "summary": "Introspect a doctype's full schema",
        "description": "Returns the live doctype definition: every field with `fieldname`, `fieldtype`, `label`, `reqd`, `options` (Link target or Select options), `permlevel`, etc. See [Discovery](#tag/discovery) for how to use this in your integration code.\n\nWorks for ANY doctype \u2014 Lead, profiles, lookups, even Frappe core doctypes like `User` or `File`.",
        "responses": {
          "200": {
            "description": "Full doctype definition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeDocResponse"
                }
              }
            }
          },
          "404": {
            "description": "Doctype not found."
          }
        }
      }
    },
    "/api/resource/CRM Vertical": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Vertical (top-level product line)",
        "description": "Read the valid values for `custom_vertical` on `CRM Lead`. Top-level product line.",
        "responses": {
          "200": {
            "description": "Vertical values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LookupItem"
                      }
                    }
                  }
                },
                "examples": {
                  "Vertical": {
                    "$ref": "#/components/examples/LookupVerticalResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/CRM Group": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Group (sub-line under a Vertical)",
        "description": "Read the valid values for `custom_psp_group` on `CRM Lead`. Sub-line under a Vertical (e.g. Anaya, Anyra, Eisai, GoodFlip, Insurers).",
        "responses": {
          "200": {
            "description": "Group values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LookupItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/CRM Program": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Program (named PSP / subscription / SKU under a Group)",
        "description": "Read the valid values for `custom_current_program` / `custom_previous_program` on `CRM Lead`. Named PSP / subscription / SKU.",
        "responses": {
          "200": {
            "description": "Program values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LookupItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/CRM Lead Status": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Lead Status (7 universal statuses)",
        "description": "Read the valid values for `status` on `CRM Lead`. 7 universal statuses: `New` (Open) / `Contacted`, `Nurture` (Ongoing) / `Qualified`, `Converted` (Won) / `Junk`, `Unqualified` (Lost \u2014 both require `lost_reason`).",
        "responses": {
          "200": {
            "description": "Status values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LookupItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/CRM Lead Source": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Lead Source (acquisition channel)",
        "description": "Read the valid values for `source` on `CRM Lead`. Lead acquisition channels.",
        "responses": {
          "200": {
            "description": "Source values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LookupItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/CRM Lost Reason": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Lost Reason",
        "description": "Read the valid values for `lost_reason` on `CRM Lead`. Required when status is `Junk` or `Unqualified`.",
        "responses": {
          "200": {
            "description": "Lost Reason values.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LookupItem"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/CRM Lead Substage": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "Lead Substage (program-scoped \u2014 always filter by program)",
        "description": "Read the valid values for `substage` on `CRM Plan Profile`. **Always filter by `program`** \u2014 substages are scoped per program, and the unfiltered list is the union across all programs (confusing).\n\nThe `name` field in each row is the value you send back as `substage` (format `{program}-{substage_name}`).",
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"program\",\"=\",\"Niva Bupa\"]]",
            "description": "Strongly recommended: filter by `program`."
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[\"name\",\"substage_name\",\"main_stage\"]"
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Substages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeadSubstage"
                      }
                    }
                  }
                },
                "examples": {
                  "Sigrima substages": {
                    "$ref": "#/components/examples/LookupSubstageResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/upload_file": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a file and attach to a lead",
        "description": "Frappe core file-upload endpoint. Multipart/form-data. **Always set `is_private=1` for patient documents** \u2014 the file URL will be `/private/files/...` requiring auth to fetch.\n\n### Required form parts\n\n- `file` \u2014 the binary file content\n- `doctype` \u2014 `CRM Lead`\n- `docname` \u2014 the lead's primary key (e.g. `CRM-LEAD-2026-00123`)\n- `is_private` \u2014 `1` (use `1` for patient docs, `0` only for non-sensitive content)\n\n### Optional form parts\n\n- `fieldname` \u2014 if you want the file to populate a specific Attach field on the lead\n- `folder` \u2014 defaults to `Home`\n- `file_name` \u2014 override the display name\n- `optimize` \u2014 optimize images on upload (jpg/png/gif)\n\n### Curl example\n\n```bash\ncurl -X POST -H 'Authorization: token KEY:SECRET' \\\n     -F 'file=@./lab-report-may.pdf' \\\n     -F 'doctype=CRM Lead' \\\n     -F 'docname=CRM-LEAD-2026-00123' \\\n     -F 'is_private=1' \\\n     https://one.tatvacare.in/api/method/upload_file\n```\n\n### Download the file later\n\nThe response includes `file_url`. To download:\n- Public files (`/files/...`) \u2014 open `GET <base_url><file_url>` with no auth.\n- Private files (`/private/files/...`) \u2014 `GET <base_url><file_url>` with the same `Authorization: token KEY:SECRET` header. A 403 from a private URL means your auth is missing or the lead permission check failed.\n\n### Dedup re-uploads\n\nEach upload creates a new `File` row, even if you upload the same bytes twice. To dedup client-side, hash the file and check existing files via `GET /api/resource/File?filters=[[\"content_hash\",\"=\",\"<md5>\"],[\"attached_to_name\",\"=\",\"<lead>\"]]`.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "doctype": {
                    "type": "string",
                    "example": "CRM Lead"
                  },
                  "docname": {
                    "type": "string",
                    "example": "CRM-LEAD-2026-00123"
                  },
                  "is_private": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "default": 1
                  },
                  "fieldname": {
                    "type": "string"
                  },
                  "folder": {
                    "type": "string",
                    "default": "Home"
                  },
                  "file_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "doctype",
                  "docname"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/FileDoc"
                    }
                  }
                },
                "examples": {
                  "Private upload": {
                    "$ref": "#/components/examples/FileUploadResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/File": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List files attached to a lead",
        "description": "Standard Frappe list endpoint for the `File` doctype. To get files for a specific lead, filter on `attached_to_doctype` + `attached_to_name`.\n\n```bash\ncurl -G -H 'Authorization: token KEY:SECRET' \\\n     --data-urlencode 'filters=[[\"attached_to_doctype\",\"=\",\"CRM Lead\"],[\"attached_to_name\",\"=\",\"CRM-LEAD-2026-00123\"]]' \\\n     --data-urlencode 'fields=[\"name\",\"file_name\",\"file_url\",\"file_size\",\"is_private\",\"creation\"]' \\\n     https://one.tatvacare.in/api/resource/File\n```",
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"attached_to_doctype\",\"=\",\"CRM Lead\"],[\"attached_to_name\",\"=\",\"CRM-LEAD-2026-00123\"]]"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[\"name\",\"file_name\",\"file_url\",\"is_private\"]"
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of File rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileDoc"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/File/{name}": {
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "File row's primary key (hash-based, e.g. `c14b27639e`)."
        }
      ],
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a file",
        "description": "Removes the File row AND the physical file from disk. Idempotent \u2014 a second DELETE returns 404, which is fine.",
        "responses": {
          "200": {
            "description": "Deleted."
          },
          "404": {
            "description": "Already deleted (safe)."
          }
        }
      }
    },
    "/api/method/frappe.client.get_count": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Count records (with filters)",
        "description": "Returns the number of records matching the filters. Useful for pre-write checks (e.g. duplicate phone count before insert) and dashboard counts.",
        "parameters": [
          {
            "name": "doctype",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CRM Lead"
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"mobile_no\",\"=\",\"+919999000123\"]]"
          }
        ],
        "responses": {
          "200": {
            "description": "Count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}